/* body {
    background-color: white;
} */

.back-to-games {
    background-color: cornflowerblue;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid cornflowerblue;
    transition: 0.5s;
}

.back-to-games:hover {
    background-color: white;
    color: cornflowerblue;
    transition: 0.5s;
}